* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
}

li, a { 
    color: white
}


body {
    background-color: rgb(189,126,74);
}

main {
    display: flex;;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 2rem;
    background-color: rgb(131, 88, 52);
    width: 80%;
    height: auto;
    text-align: center;
    color: white;
    border-radius: 50px;
    margin-top: 1rem;
}

.recipes-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px; 
    background-color: rgb(131, 88, 52);
    width: 80%;
    height: auto;   
}

.recipes-section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 1rem;
}
.recipe {
    background-color: rgb(90, 59, 34);
    width: 80%;
    font-size: 1.5rem;
    height: auto;
    border-radius: 10px;
}